.vscode
.idea
.coder
node_modules
.venv
*.zip
target
*.iml
dist
.parcel-cache
.env
site
.coderignore
.coder
.bkp
bin
*.zip
*.pdf
*.docx
*.log
logs/*
!logs/.gitkeep
__pycache__
package-lock.json
*.mp3
*.mp4
downloads
